p
  ' Il SITO di Tecnologie Democratiche utilizza cosiddetti "cookie", per facilitare e rendere più confortevole la visita dell'utente al SITO. I cookie sono piccoli file di dati che il browser salva sul disco fisso del computer. I file cookie vengono inviati al computer e salvati localmente. Questi file servono per identificare l'utente e salvare le sue preferenze personali e informazioni tecniche. Utilizziamo:
  ' a) cookie permanenti (i cookie rimangono sul computer finché non vengono cancellati)
  ' b) cookie temporanei (i cookie rimangono sul computer solo fino a quando non viene chiuso il browser).
  ' I cookie di per sé non contengono dati personali e non trasmettono dati di questo tipo. Quando l'utente inserisce dati personali sul SITO, le informazioni che si trovano sul SITO possono essere collegate ai dati salvati nei cookie.
  ' Qualora non intenda accettare l'utilizzo di cookie da parte di Tecnologie Democratiche, l'utente può modificare le impostazioni del browser in modo che i cookie vengano rifiutati (le istruzioni per modificare le impostazioni relative ai cookie sono riportate nella guida del browser).
  ' In caso di blocco dei cookie, alcuni servizi potrebbero non essere disponibili e/o potrebbe non essere possibile accedere a determinate aree del SITO.
