' INFORMATIVA AI SENSI DELL'ARTICOLO 13 DEL DECRETO LEGISLATIVO N. 196/2003 SULLA TUTELA DEI DATI PERSONALI
' I dati personali, anche di natura sensibile, conferiti dall'utente all'atto della propria adesione all'iniziativa denominata "Tecnologie Democratiche" così come quelli eventualmente raccolti successivamente, saranno trattati esclusivamente per finalità connesse alla identificazione dell'utente ed alla sua partecipazione alle attività dell'Associazione nonchè per l'invio di materiale illustrativo e di aggiornamento sulle novità ed attività di quest'ultimo, nel rispetto del D.Lgs. 196/2003.
' I dati stessi potranno essere oggetto di verifica di autenticità.
' Il conferimento dei dati anagrafici e di residenza è obbligatorio, in quanto necessario a formalizzare l'adesione all'Associazione e la loro mancata comunicazione impedirà la partecipazione dell'utente alle attività di quest'ultimo; parimenti obbligatoria è l'indicazione di un indirizzo di posta elettronica di recapito, Codice Fiscale e copia della Carta d'Identità allo scopo di consentire la verifica di autenticità dei dati conferito ed i successivi contatti fra lo dell'Associazione, e l'utente; il conferimento di altri dati o informazioni è da intendersi facoltativo e, la loro mancata specificazione, è priva di conseguenze.
' I dati potranno essere trattati attraverso strumenti informatici o mediante supporti cartacei previa l'adozione, in entrambi i casi, delle misure di sicurezza stabilite dalle vigenti norme di legge.
' In tutti i casi, essi non verranno diffusi nè comunicati a terzi diversi dagli incaricati al trattamento direttamente nominati dal titolare del trattamento o dai responsabili ove nominati. Rispetto ai dati di propria competenza, l'interessato potrà esercitare i diritti di cui all'articolo 7 del D.Lgs. 196/2003, qui di seguito riportati.
' Art. 7. Diritto di accesso ai dati personali ed altri diritti 1. L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile. 2. L'interessato ha diritto di ottenere l'indicazione:
' a) dell'origine dei dati personali;
' b) delle finalità e modalità del trattamento;
' c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici;
' d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'articolo 5, comma 2;
' e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.
' 3. L'interessato ha diritto di ottenere:
' a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati; b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
' c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.
' 4. L'interessato ha diritto di opporsi, in tutto o in parte:
' a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorchè pertinenti allo scopo della raccolta;
' b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.
' Titolare del trattamento dei dati è ??????????????????.
' Ogni richiesta, informazione o istanza, compresa la richiesta di cancellazione dei propri dati e conseguente cancellazione della propria iscrizione può essere inoltrata tramite all'indirizzo indicato.
