p
  ' Dichiarazione di consenso ai sensi dell'art. 23 del D.Lgs. 196/2003
p
  ' Dichiaro di aver preso visione dell'informativa resami ai sensi dell'art. 13 del D.Lgs. 196/2003
  ' sotto riportata e di esprimere il mio consenso al trattamento dei dati personale, anche di natura sensibile,
  ' che mi riguardano, con i mezzi e per le finalità in essa riportate.
