// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.scrollable {
  max-height: 250px;
  overflow-y: auto;
}

.login-helper-link {
  display: inline;
  margin-left: 0.5em;
}

.black-text {
  font-size: 1.2em;
  display: inline;
  margin-left: 0.5em;
}

.green-text {
  font-size: 1.1em;
  color: #43ac6a;
}
